<h3>Posts index</h3>

<ul>
    {{#each model as |post|}}
      <li>
        {{#link-to 'post' post}}
          {{post.title}}
        {{/link-to}}
        <br>
        {{#if post.editable}}
        <button class='btn btn-md btn-danger'{{action 'delete' post}}>Delete</button>
        {{/if}}

        {{#if post.editable}}
        <form>
          <div>
            <label>Title:</label>
            {{input type="text" value=post.title}}

          </div>
          <div>
            <label>Body:</label>
            {{textarea rows="10" value=post.body}}
          </div>
          <div>
            <button class='btn btn-info' {{action 'edit' post}}>Edit Post</button>
            {{!-- <button class='btn btn-danger' {{action 'cancel'}}>Cancel</button> --}}
          </div>
        </form>
        {{/if}}


        {{post-user/edit post=model save='savePost'
                            cancel='cancel'}}

      </li>

    {{/each}}
</ul>
