<h3>Posts index</h3>

<ul>
    {{#each model as |post|}}
      <li>
        {{#link-to 'post' post}}
          {{post.title}}
        {{/link-to}}
        <br>
        <button class='btn btn-md btn-danger'{{action 'delete' post}}>Delete</button>

        {{!-- <form>
          <div>
            <label>Title:</label>
            {{input type="text" value=model.title}} --}}

            {{!-- <label>You're {{currentUser}}{{model.user.id}}{{user}}</label>
       --}}
          {{!-- </div>
          <div>
            <label>Body:</label>
            {{textarea rows="10" value=model.body}}
          </div>
          <div>
            <button class='btn btn-info' {{action 'edit'}}>Edit Post</button>
            <button class='btn btn-danger' {{action 'cancel'}}>Cancel</button>
          </div>
        </form> --}}

        {{post-user/edit post=model save='savePost'
                            cancel='cancel'}}


      </li>
    {{/each}}
</ul>
{{#link-to 'post.new'}}<button class="btn btn-lg">New Post</button>{{/link-to}}
